.user-info{
    display:flex;
    flex-direction:row;
    align-items:center;
    .username{
        font-size:0.9rem;
        padding:0;
        margin:0;
    }
    .nickname{
        font-size:0.8rem;
        padding:0;
        margin:0;
        color:var(--ion-color-medium);
    }
    ion-icon{
        font-size:2.4rem;
        margin-left:10px;
        margin-right:10px;
    }
}
#user-trigger{
    cursor:pointer;
}
#language-trigger{
    font-size:0.8rem;
}
