<ion-app>
  
  <!--<ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button (click)="onLang()">
      <ion-label>{{translate.language$ | async | uppercase}}</ion-label>
    </ion-fab-button>
  </ion-fab>-->

  <ion-menu #menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="menu.close()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
        </ion-buttons>
        <ion-thumbnail slot="start">
          <img alt="logo of tasks" src="assets/imgs/logo.png" />
        </ion-thumbnail>
        <ion-title>Tasks</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item [color]="routeInclude('home')?'primary':''" (click)="close(menu)" [routerLink]="['/home']" button detail="false"><ion-icon slot="start" name="home"></ion-icon>{{ 'menu.home' | translate}}</ion-item>
        <ion-item [color]="routeInclude('tasks')?'primary':''" (click)="close(menu)" [routerLink]="['/tasks']" button detail="false"><ion-icon slot="start" name="checkbox-outline"></ion-icon>{{ 'menu.tasks' | translate}}</ion-item>
        <ion-item [color]="routeInclude('assignments')?'primary':''" (click)="close(menu)" [routerLink]="['/assignments']" button detail="false"><ion-icon slot="start" name="people-outline"></ion-icon>{{ 'menu.assignments' | translate}}</ion-item>
        <ion-item [color]="routeInclude('profile')?'primary':''" (click)="close(menu)" [routerLink]="['/profile']" button detail="false"><ion-icon slot="start" name="person-circle-outline"></ion-icon>{{ 'menu.profile' | translate}}</ion-item>
        <ion-item [color]="routeInclude('about')?'primary':''" (click)="close(menu)" [routerLink]="['/about']" button detail="false"><ion-icon slot="start" name="information-circle-outline"></ion-icon>{{ 'menu.about' | translate}}</ion-item>
        <ion-item (click)="onSignOut(menu)" button detail="false"><ion-icon slot="start" name="log-out-outline"></ion-icon>{{ 'menu.signout' | translate}}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <app-header *ngIf="(auth.isLogged$ | async) && (auth.user$ | async)"
      [nickname]="(auth.user$ | async)!.nickname"
      [username]="(auth.user$ | async)!.name + ' ' + (auth.user$ | async)!.surname"
      [picture]="(auth.user$ | async)!.picture"
      [languages]="['es','en']" 
      [languageSelected]="lang" 
      (onLanguage)="onLang($event)"
      (onSignout)="onSignOut(menu)"
      (onProfile)="onProfile()"
      ></app-header>
    <ion-router-outlet></ion-router-outlet>
  </div>
  
</ion-app>
