<ion-content [fullscreen]="true">
  
  <div class="container">
    <ion-card>
      <ion-card-header>
        <div class="logo">
          <ion-thumbnail>
            <img alt="logo of tasks" src="assets/imgs/logo-small.png" />
          </ion-thumbnail>
          <ion-text >Tasks</ion-text>
        </div>
        
      </ion-card-header>
      <ion-card-content>
        <div class="ion-text-end">
          <ion-button [routerLink]="['/login']" fill="clear" style="text-transform: none;">{{'register.login' | translate}}</ion-button>
        </div>
        <app-register-form (onsubmit)="onRegister($event)"></app-register-form>

      </ion-card-content>
    </ion-card>
  </div>
  
  
</ion-content>
