<form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <ion-grid *ngIf="user">
    <ion-row>
      <ion-col sizeMd="3" sizeXs="12">
        <app-picture-selectable formControlName="picture"></app-picture-selectable>
      </ion-col>
      <ion-col sizeMd="9" sizeXs="12">
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-item style="min-width:100%">
                  <ion-input label="Nombre" formControlName="name"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Apellidos" formControlName="surname"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Apodo" formControlName="nickname"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <div style="width:100%;display:flex;justify-content:end">
        <ion-button [disabled]="!form.valid || !form.dirty" type="submit">Guardar</ion-button>
      </div>
    </ion-row>
    
  </ion-grid>
</form>
