/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '~swiper/swiper-bundle.css';

.fav-ion-toast{
    font-size:1.1rem;
    text-align:center;
    --width:200px;
    --border-width:1px;
    --border-style: solid;
    --border-color:white;
    --color:red;
      
  }

  .card-ion-toast{
    font-size:1.1rem;
    text-align:center;
    --max-width : 300px;
  }

  ion-loading.custom-loading {
    --backdrop-opacity:0;
    --background: var(--ion-background-color);
    --spinner-color: var(--ion-color-dark);
    color: var(--ion-color-medium);
    .loading-wrapper {
        background: transparent;
        box-shadow: none;
      }
  }
  
  .highlight {
    border-radius:20px;
    background-color: #474bff;
    -webkit-box-shadow: 0px 0px 20px 5px #474bff;
    -moz-box-shadow: 0px 0px 20px 5px #474bff;
    box-shadow: 0px 0px 20px 5px #474bff;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }
  @keyframes shake {
    0%   {transform: rotate(2deg);}
    100%  {transform: rotate(-2deg);}
  
  }


  .container {
    max-width: 124rem;
    padding: 4rem 1rem;
    margin: 0 auto;
    height:100%;
  }
  
  .heading {
    padding: 1rem 0;
    font-size: 3.5rem;
    text-align: center;
  }
  
  .swiper_container {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
  }
  .swiper{
    height:100%;
  }
  .swiper-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .swiper-slide > img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .swiper-slide > img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }

  .modal-full-right-side{
    display:flex;
    --height:100%;
    justify-content: flex-end;
    --max-width:350px;
}