<div id="popover-button">
  <ion-item [button]="!disabled" [detail]="!disabled">
    <ion-text slot="start" position="fixed">Usuario:</ion-text>
    <ion-text *ngIf="!userSelected && !disabled">Seleccione un usuario</ion-text>
    <ion-text *ngIf="!userSelected && disabled">Ninguno</ion-text>
    <ion-avatar slot="start" *ngIf="userSelected" >
      <ion-img *ngIf="userSelected.picture" [src]="userSelected.picture"></ion-img>
      <img *ngIf="!userSelected?.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar> 
    <ion-text *ngIf="userSelected">{{userSelected.name}} {{userSelected.surname}}</ion-text>
</ion-item>

</div>

<ion-popover *ngIf="!disabled" trigger="popover-button" #popover (willPresent)="onLoadUsers()">
  <ng-template>
    <ion-content >
      
      <ion-list>
        
        <ion-item>
          <ion-input #search placeholder="Buscar" type="text" (ionInput)="onFilter($event)" debounce="200"></ion-input>
          <ion-button color="medium" slot="end" fill="clear" (click)="clearSearch(search)"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
        </ion-item>
        <ion-item button (click)="deselect(popover)">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
          <ion-text >Ninguno</ion-text>
        </ion-item>
        <app-user-item
          (clicked)="onUserClicked(popover,$event)"
          *ngFor="let user of users"
          [user]="user"
        ></app-user-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
