<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="welcome()">Ir a welcome</ion-button>
  <div class="users-panel">
    <app-user-info *ngFor="let user of users.users$ | async" [user]="user" (onCardClicked)="onCardClicked()" (onFavClicked)="onFavClicked(user, $event)"></app-user-info>
  </div>
  
  
</ion-content>
